@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #42bff5;
  margin: 0 auto;
  font-family: "Roboto Slab", serif;

  .to-do-list {
    padding: 1.2rem;
    width: 600px;
    min-height: 400px;
    background-color: #fff;
    border-radius: 5px;

    input {
      width: 100%;
      padding: 0.5rem;
      font-size: 1.15rem;
      border: 0;
      display: block;
      box-shadow: 0 0 2px gray;
      outline: none;
    }
    #to-do-item {
      list-style: none;
      margin-top: 1rem;

      li {
        background-color: #151626;
        color: white;
        padding: 10px;
        margin: 0;
        margin-top: 1rem;
        border-radius: 3px;
        font-family: "Titillium Web", sans-serif;
        cursor: pointer;
        position: relative;
        user-select: none;

        &.done {
          text-decoration: line-through;
        }
       

        img {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover {
          background-color: #151626f3;
        }
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .to-do-list {
    width: 90% !important;
  }
  #to-do-input {
    font-size: 1.08rem;
  }
}
@media screen and (max-width: 450px) {
  li {
     padding-right: 66px !important;
  }
}
@media screen and (max-width: 360px) {
  .container {
    background-color: green;
  }
  .to-do-list  {
    padding-right: 40px;
    li {
      padding-right: 40px !important;
    }
  }
  #to-do-input {
    font-size: 1.02rem;
    font-weight: bold;
  }
}
